/* Global Reset */
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}
body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
header {
  font-size: 35px;
  font-weight: bold;
  position: absolute;
  left: 15px;
  text-align: left;
  text-transform: uppercase;
  top: 15px;
  z-index: 2000;
}
p {
  margin: 1em 0;
}
a {
  color: #00a;
}
a:hover {
  color: #000;
}
a:visited {
  color: #a0a;
}
/* Map */
#map {
  width: 100%;
  height: 100%;
}
#date-range-picker {
  position: absolute;
  bottom: 25px;
  left: 10%;
  width: 80%;
}
#right-pane {
  background: white;
  display: none;
  height: 100%;
  overflow-y: auto;
  padding: 15px;
  position: absolute;
  right: 0;
  text-align: left;
  top: 0;
  width: 50%;
  z-index: 2001;
}
#right-pane .panel-toggle {
  background: none;
  border-radius: 4px;
  box-shadow: none;
  border: 1px solid black;
  padding: 5px;
}
#right-pane .panel-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: gray;
  margin-top: 2px;
  margin-bottom: 2px;
}
#right-pane .panel-toggle:hover {
  background: gray;
}
#right-pane .panel-toggle:hover .icon-bar {
  background: white;
}
#right-pane h1 {
  font-size: 40px;
}
#right-pane h2 {
  text-transform: uppercase;
}
#right-pane section {
  border-top: 2px solid black;
  padding-top: 5px;
}
#right-pane .borough {
  font-size: 18px;
}
#right-pane #plan-details {
  margin-bottom: 25px;
  margin-top: 25px;
}
#right-pane #lots-content ul {
  list-style: none;
  padding: 0;
}
#right-pane #lots-content .lot {
  margin-bottom: 15px;
  margin-top: 15px;
}
#right-pane #lots-content .lot h3 {
  font-size: 24px;
  font-weight: bold;
}
