@gray: #4E4E4E;
@border-color: @gray;
@font-color: @gray;
@highlight-color: #FFFFCC;
@interface-z-index: 2000;

@label-font-family: "GrotesqueDisplayMT-BoldExt";

@input-dropdown-color: @gray;
@date-range-background-color: @gray;

// Import some Bootstrappiness
@import "../bower_components/bootstrap/less/mixins.less";
@import "../bower_components/bootstrap/less/variables.less";

@carousel-indicator-active-bg: darken(@gray: 25%);
@carousel-indicator-border-color: @gray;
@tooltip-bg: @gray;
@tooltip-color: white;

@import "../bower_components/bootstrap/less/carousel.less";
@import "../bower_components/bootstrap/less/grid.less";
@import "../bower_components/bootstrap/less/utilities.less";
@import "../bower_components/bootstrap/less/tooltip.less";


/* Global Reset */
* {
    margin: 0;
    padding: 0;
}


html, body {
    color: @font-color;
    height: 100%; 
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

body {
    background-color: #FFF;
    font-family: "franklin-gothic-urw", sans-serif;
    font-size: small;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%; 
}

header {
    font-size: 35px;
    font-weight: bold;
    position: absolute;
    left: 15px;
    text-align: left;
    text-transform: uppercase;
    top: 15px;
    width: 200px;
    z-index: @interface-z-index;
}

p {
    margin: 1em 0; 
}

a { 
    color: @font-color; 
    font-weight: bold;
    text-decoration: none;

    &:hover {
        color: #000; 
    }
    &:visited {
        color: #000; 
    }
}

img {
    max-width: 100%;
}

ul {
    padding-left: 30px;
}


/*
 * Forms
 */

select {
    background-color: @input-dropdown-color;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    width: 90%;
}

.input-group {
    margin-bottom: 10px;
    margin-top: 10px;
}

@help-button-size: 20px;

.help-button {
    cursor: pointer;
    display: inline-block;
    background-color: @highlight-color;
    border-radius: @help-button-size;
    float: right;
    font-size: 16px;
    font-weight: bold;
    height: @help-button-size;
    margin-top: -2px;
    text-align: center;
    width: @help-button-size;
}

.checkbox-label {
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
}


/*
 * Global
 */

#tagline {
    font-size: 16px;
    position: absolute;
    left: 15px;
    text-align: left;
    top: 160px;
    width: 150px;
    z-index: @interface-z-index;
}

#logo {
    cursor: pointer;
    float: left;
    width: 100%;

    img {
        max-width: 100%;
        max-height: 100%;
    }
}


/* Map */

#map {
    width: 100%;
    height: 100%;
}

#search-container {
    float: left;
    margin-left: 25px;
    opacity: 0.75;
    position: absolute;
    left: 200px;
    top: 60px;
    text-align: left;
    width: 150px;
    z-index: @interface-z-index;

    #search {
        border: 1px solid #aaa;
        font-size: 30px;
        line-height: 48px;
        padding-left: 10px;
        width: 500px;
    }

    .twitter-typeahead {
        background: white;
        font-size: 30px;
        line-height: 48px;
        text-transform: none;

        .tt-cursor {
            background: @highlight-color;
        }

        .tt-dropdown-menu {
            background: white;
            width: 100%;
        }

        .tt-hint {
            border: 0;
            color: gray;
            font-size: 30px;
            line-height: 48px;
            padding-left: 10px;
            margin-top: 1px;
        }

        .tt-suggestions {
            border-left: 1px solid #aaa;
            border-right: 1px solid #aaa;
        }

        .tt-suggestion {
            border-bottom: 1px solid #aaa;
            cursor: pointer;
            padding-bottom: 5px;
            padding-left: 10px;
            padding-top: 5px;

            p {
                margin: 0;
            }
        }
    }
}

#nav {
    font-family: @label-font-family;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: .5px;
    line-height: 35px;
    position: absolute;
    left: 15px;
    top: 245px;
    text-align: left;
    text-transform: uppercase;
    z-index: @interface-z-index;

    ul {
        list-style: none;
        padding: 0;
    }

}

#map-filters-toggle {
    background: none;
    border-radius: 4px;
    box-shadow: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    position: absolute;
    right: 25px;
    top: 25px;
    width: 40px;
    z-index: @interface-z-index;

    .icon-bar {
        display: block;
        height: 5px;
        background-color: gray;
        margin-top: 4px;
        margin-bottom: 4px;
        width: 100%;
    }

    &:hover {
        .icon-bar {
            background: black;
        }
    }
}

#narrow-sidebar-hide-button {
    display: none;
    font-size: 50px;
    position: absolute;
    right: 28%;
    top: 15px;
    z-index: @interface-z-index;
}

#date-range-picker-container {
    bottom: 10px;
    left: 10%;
    right: 10%;
    position: absolute;

    &.narrow-sidebar {
        right: 35%;
    }
}

#date-range-picker-label {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

#date-range-picker {

    .ui-rangeSlider-bar {
        background: @date-range-background-color;
        height: 5px;
        margin-top: 8px;
    }

    .ui-rangeSlider-handle {
        background: @date-range-background-color;
        border: 3px solid darken(@highlight-color, 25%);
        border-radius: 20px;
        height: 20px;
        width: 20px;
    }

    .ui-rangeSlider-innerBar {
        background: lighten(@date-range-background-color, 50%);
        height: 5px;
        margin-top: 8px;
    }

    .ui-rangeSlider-label {
        background: @date-range-background-color;
        background-image: none;
        bottom: 25px;
        color: white;
        font-size: 24px;
        font-weight: bold;
    }
}

.panel-toggle {
    background: none;
    border-radius: 4px;
    box-shadow: none;
    border: none;
    padding: 5px;
}

.main-section {
    border-top: 2px solid black;
    padding-top: 5px;
    margin-bottom: 50px;
}

.filter-section {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 15px;
    padding-bottom: 15px;

    & > * {
        padding-left: 15px;
        padding-right: 15px;
    }

    &-header {
        border-bottom: 3px solid @border-color;
        font-weight: bold;
        letter-spacing: 2px;
        margin-bottom: 5px;
        padding-bottom: 3px;
        text-transform: uppercase;
    }

}

.nav-button {
    background: @font-color;
    color: white;
    padding: 10px;

    &:visited, &:active {
        color: white;
    }
}

.page {
    font-size: 16px;
    margin-left: -15px;
    margin-right: -15px;
    padding-bottom: 100px;
    text-align: justify;

    img {
        max-width: 100%;
    }

    p, h2 {
        margin-left: 15px;
        margin-right: 15px;
    }

    h1 {
        line-height: 70px;
    }

    h2 {
        font-size: 20px;
    }

    &-header {
        background: white;
        border-bottom: 1px solid #444;
        font-size: 16px;
        margin-left: -15px;
        margin-bottom: 30px;
        padding-bottom: 5px;
        padding-top: 10px;
        position: fixed;
        left: 49%; // TODO set dynamically
        top: 0;
        width: 100%;

        h1 {
            padding-bottom: 5px;
            text-transform: none;
        }

        .panel-toggle {
            border: none;
            cursor: pointer;
            float: left;
            font-size: 90px;
            line-height: 50px;
            margin-top: 10px;

            &:hover {
                background-color: white;
            }
        }

        &-content {
            float: left;
            margin-left: 15px;
        }

    }

    &-section {
        margin-bottom: 100px;
    }

    &-content-container {
        .make-row(0);
        margin-top: 75px;
    }

    &-nav {
        .make-md-column(3; 0);
        font-family: @label-font-family;
        position: fixed;

        ul {
            font-size: 18px;
            list-style: none;
            margin-top: 50px;
            padding: 0;

            li {
                padding-bottom: 5px;
                padding-top: 5px;

                a {
                    font-weight: normal;
                }
            }

            li.active a {
                font-weight: bold;
            }
        }
    }

    &-content {
        .make-md-column(9; 0);
        .make-md-column-offset(3);
    }

}

.widest .page-header {
    left: 24%;
}

#right-pane {
    background: white;
    border-left: 1px solid @border-color;
    display: none;
    height: 100%;
    overflow-y: auto;
    padding: 15px;
    position: absolute;
    right: 0;
    text-align: left;
    top: 0;
    z-index: 2001;

    &.narrow {
        width: 25%;
    }
    &.wide {
        width: 50%;
    }
    &.widest {
        width: 75%;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        text-transform: uppercase;
    }

    & > section {
        .main-section();
    }

    .borough {
        font-size: 18px;
    }

    #plan-details {
        margin-bottom: 25px;
        margin-top: 25px;
    }

    .plan {
        margin-left: -15px;
        margin-right: -15px;

        &-header {
            background: white;
            border-bottom: 1px solid #444;
            font-size: 16px;
            margin-bottom: 30px;
            padding-bottom: 5px;
            padding-top: 10px;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: @interface-z-index + 30;

            h1 {
                padding-bottom: 5px;
                text-transform: none;
            }

            .panel-toggle {
                border: none;
                cursor: pointer;
                float: left;
                font-size: 90px;
                line-height: 50px;
                margin-top: 10px;

                &:hover {
                    background-color: white;
                }
            }

            &-content {
                float: left;
                margin-left: 15px;

                &-item {
                    float: left;
                    margin-right: 25px;

                    label {
                        display: block;
                        font-family: @label-font-family;
                        font-weight: normal;
                    }
                    .value {
                        font-weight: normal;
                        text-transform: none;
                    }
                }
            }

        }

        &-content {
            & > section {
                .main-section();
                border-top: 0;
                margin-top: 15px;

                &#plan-about > * {
                    margin-left: 25px;
                }
            }

            #image-container {
                height: 500px;
                margin-bottom: 50px;

                img {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    max-height: 100%;
                    //width: 400px;
                }
            }

            margin-top: 150px;
        }

        h2 {
            font-size: 20px;
            margin-bottom: 10px;
            margin-left: 25px;
            text-transform: capitalize;
        }

        &-share-story {
            background-color: #444;
            color: white;
            display: inline-block;
            font-size: 24px;
            padding: 10px;

            &:hover {
                color: @highlight-color;
            }
        }
    }

    #lots-content {
        border-top: 3px solid #444;

        ul {
            list-style: none;
            padding: 0;
        }

        .lot {
            border-bottom: 1px solid #444;
            cursor: pointer;
            padding-left: 25px;
            padding-right: 25px;
            padding-top: 15px;
            padding-bottom: 15px;

            &.highlighted,
            &:hover {
                background-color: @highlight-color;
            }

            &-external-links {
                float: right;
            }
        }

        .lot h3 {
            font-size: 24px;
            font-weight: bold;
        }
    }

    #data div {
        margin-left: 25px;
    }

    #filters {
        margin-top: 45px;
    }

    #highlights {
        margin-top: 45px;

        &-header {
            color: #aaa;
            font-size: 22px;
            text-align: center;
            text-transform: capitalize;
        }
    }


    #plan-list-filters-link {
        float: right;
        margin-top: -25px;
    }

    #filters-plan-list-link {
        float: right;
        margin-top: -25px;
    }

    #plan-list-container,
    #filters-container {
        margin-bottom: 50px;

        h2 {
            color: #aaa;
            font-size: 22px;
            text-align: center;
            text-transform: none;
        }
    }

    #plans {
        .plan-list {
            list-style: none;
            padding: 0;
        }

        .plan-list-header {
            border-bottom: 3px solid @border-color;
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 2px;
            margin-left: -15px;
            margin-right: -15px;
            margin-top: 20px;
            padding-bottom: 5px;
            padding-left: 15px;
            padding-right: 15px;
            text-transform: uppercase;

            &-name {
                float: left;
            }

            &-adopted {
                float: right;
                text-align: right;
            }
        }

        .plan {
            border-bottom: 1px solid @border-color;
            padding: 15px;

            &:hover {
                background-color: @highlight-color;
                cursor: pointer;
            }

            &-name {
                float: left;
                font-size: 16px;
                font-weight: bold;
                width: 85%;
            }
            &-adopted {
                float: right;
                font-size: 12px;
                width: 15%;
            }
        }
    }
}


/*
 * Leaflet
 */
@popup-background: #4E4E4E;

.leaflet-popup {

    &-content-wrapper {
        background: @popup-background;
        border-radius: 0;
        box-shadow: none;
        color: white;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
    }

    &-tip {
        background: @popup-background;
        box-shadow: none;
    }

}


/*
 * Bootstrap
 */

.carousel-control {
    &.left,
    &.right,
    &:hover {
        background-image: none;
        color: black;
    }
}

.carousel-indicators {
    z-index: @interface-z-index + 5;

    li {
        background-color: lighten(@gray, 50%);
    }
}

.carousel-inner {
    height: 100%;

    .item {
        height: 100%;
    }
}

.tooltip {
    font-size: 16px;
    font-weight: bold;
}
