@gray: #4E4E4E;
@border-color: #000;
@font-color: #000;
@highlight-color: #F9EF6C;
@interface-z-index: 2000;
@page-header-index: @interface-z-index + 30;
@header-background-color: rgba(255, 255, 255, 0.95);

@night-mode-color: white;
@night-mode-color-inverse: black;

@label-font-family: "GrotesqueDisplayMT-BoldExt";

@input-dropdown-color: #000;
@date-range-background-color: #000;

// Import some Bootstrappiness
@import "../bower_components/bootstrap/less/mixins.less";


/* Global Reset */
* {
    margin: 0;
    padding: 0;
}


html, body {
    color: @font-color;
    height: 100%; 
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

body {
    background-color: #FFF;
    font-family: "franklin-gothic-urw", sans-serif;
    font-size: small;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%; 
}

header {
    font-size: 35px;
    font-weight: bold;
    position: absolute;
    left: 15px;
    text-align: left;
    text-transform: uppercase;
    top: 15px;
    width: 145px;
    z-index: @interface-z-index;
}

p {
    margin: 1em 0; 
}

a { 
    color: @font-color; 
    font-weight: bold;
    text-decoration: none;

    &:hover {
        color: #000; 
    }
    &:visited {
        color: @font-color; 
    }
}

img {
    max-width: 100%;
}

ul {
    padding-left: 30px;
}


/*
 * Forms
 */

select {
    background-color: @input-dropdown-color;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    width: 90%;
}

.input-group {
    margin-bottom: 10px;
    margin-top: 10px;
}

@help-button-size: 20px;

.help-button {
    cursor: pointer;
    display: inline-block;
    background-color: @highlight-color;
    border-radius: @help-button-size;
    float: right;
    font-size: 16px;
    font-weight: bold;
    height: @help-button-size;
    margin-top: -2px;
    text-align: center;
    width: @help-button-size;
}

.checkbox-label {
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
}


/*
 * Global
 */

#tagline {
    font-size: 16px;
    position: absolute;
    left: 175px;
    text-align: left;
    top: 70px;
    width: 500px;
    z-index: @interface-z-index;
}

#logo {
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    cursor: pointer;
    float: left;
    height: 100px;
    width: 145px;
}


/* Map */

#map {
    width: 100%;
    height: 100%;
}


.search-fonts {
    font-family: sans-serif;
    font-size: 20px;
    line-height: 40px;
}

@search-padding-left: 40px;

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

#search-container {
    float: left;
    position: absolute;
    left: 175px;
    top: 15px;
    text-align: left;
    z-index: @interface-z-index + 25;

    img {
        height: 20px;
        left: 10px;
        position: absolute;
        top: 10px;
        z-index: @interface-z-index + 26;
    }

    input[type=search] {
        -webkit-appearance: none;
    }

    input:focus {
        outline: none;
    }

    #search {
        .search-fonts();
        border: 1px solid #000;
        padding-left: @search-padding-left;
        padding-right: 10px;
        width: 500px;
    }

    .twitter-typeahead {
        .search-fonts();
        background: white;
        text-transform: none;

        .tt-cursor {
            background: @highlight-color;
        }

        .tt-dropdown-menu {
            background: white;
            margin-top: 5px;
            width: 100%;
        }

        .tt-hint {
            .search-fonts();
            border: none;
            color: gray;
            padding-left: @search-padding-left;
            margin-top: 1px;
            width: 100%;
        }

        .tt-suggestions {
            border-left: 1px solid #aaa;
            border-right: 1px solid #aaa;
        }

        .tt-suggestion {
            border-bottom: 1px solid #aaa;
            cursor: pointer;
            padding-left: @search-padding-left;

            &:first-of-type {
                border-top: 1px solid #aaa;
            }

            p {
                margin: 0;
            }
        }
    }
}

#nav {
    font-family: @label-font-family;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 28px;
    position: absolute;
    left: 15px;
    top: 125px;
    text-align: left;
    text-transform: uppercase;
    z-index: @interface-z-index;

    ul {
        list-style: none;
        padding: 0;
    }

    a {
        font-weight: normal;
    }
}

#map-filters-toggle {
    background: @border-color;
    border-radius: 0;
    box-shadow: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 10px;
    width: 50px;
    z-index: @interface-z-index;

    .icon-bar {
        display: block;
        height: 3px;
        background-color: difference(#fff, @border-color);
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%;
    }

    &:hover {
        .icon-bar {
            background: lighten(@border-color, 80%);
        }
    }
}

#narrow-sidebar-hide-button {
    display: none;
    font-size: 50px;
    position: absolute;
    right: 28%;
    top: 15px;
    z-index: @interface-z-index;
}

#date-range-picker-container {
    bottom: 20px;
    left: 10%;
    right: 10%;
    position: absolute;

    &.narrow-sidebar {
        right: 35%;
    }
}

#date-range-picker-label {
    font-family: "GrotesqueDisplayMT-BoldExt";
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

#date-range-picker {
    margin-bottom: 10px;

    .ui-rangeSlider-bar {
        background: @date-range-background-color;
        height: 5px;
        margin-top: 8px;
    }

    .ui-rangeSlider-handle {
        background: @date-range-background-color;
        border: 3px solid darken(@highlight-color, 25%);
        border-radius: 20px;
        height: 20px;
        width: 20px;
    }

    .ui-rangeSlider-innerBar {
        background: lighten(@date-range-background-color, 50%);
        height: 5px;
        margin-top: 8px;
    }

    .ui-rangeSlider-label {
        background: @date-range-background-color;
        background-image: none;
        bottom: 25px;
        color: white;
        font-size: 18px;
        font-weight: 600;
    }
}

.panel-toggle {
    background: none;
    border-radius: 4px;
    box-shadow: none;
    border: none;
    padding: 5px;
}

.main-section {
    border-top: 2px solid black;
    padding-top: 5px;
    margin-bottom: 50px;
}

.filter-section {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 15px;
    padding-bottom: 15px;

    & > * {
        padding-left: 15px;
        padding-right: 15px;
    }

    &-header {
        border-bottom: 2px solid @border-color;
        font-family: @label-font-family;
        font-size: 10px;
        font-weight: normal;
        letter-spacing: 2px;
        margin-bottom: 5px;
        padding-bottom: 3px;
        text-transform: uppercase;
    }

}

.nav-button {
    background: @font-color;
    color: white;
    padding: 10px;

    &:visited, &:active {
        color: white;
    }
}

.page {
    font-size: 16px;
    line-height: 21px;
    margin-left: -15px;
    margin-right: -15px;
    padding-bottom: 100px;

    img {
        max-width: 100%;
    }

    p, h2 {
        margin-left: 15px;
        margin-right: 15px;
    }

    h1 {
        line-height: 60px;
    }

    h2 {
        font-size: 18px;
    }

    &-header {
        background: @header-background-color;
        border-bottom: 1px solid #444;
        font-size: 16px;
        margin-bottom: 30px;
        margin-left: -30px;
        padding-bottom: 5px;
        padding-top: 10px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: @page-header-index;

        h1 {
            padding-bottom: 5px;
            text-transform: none;
        }

        .panel-toggle {
            border: none;
            cursor: pointer;
            float: left;
            font-size: 50px;
            line-height: 50px;

            &:hover {
                background-color: white;
            }
        }

        &-content {
            float: left;
            margin-left: 15px;
        }

    }

    &-section {
        margin-bottom: 100px;
    }

    &-content-container {
        .make-row(0);
        margin-top: 75px;
    }

    &-nav-column {
        .make-md-column(2; 0);
    }

    &-nav {
        font-family: @label-font-family;
        position: fixed;

        ul {
            font-size: 14px;
            list-style: none;
            margin-top: 50px;
            padding: 0;
            text-transform: uppercase;

            li {
                padding-bottom: 5px;
                padding-top: 5px;

                a {
                    font-weight: normal;
                }
            }

            li.active a {
                font-weight: bold;
            }
        }
    }

    &-content {
        .make-md-column(10; 0);
        .make-md-column-offset(2);
    }

}

#right-pane {
    background: white;
    border-left: 1px solid @border-color;
    display: none;
    height: 100%;
    overflow-y: scroll;
    padding: 15px;
    position: absolute;
    right: 0;
    text-align: left;
    top: 0;
    z-index: 2001;

    &.narrow {
        width: 25%;
    }
    &.wide {
        width: 50%;
    }
    &.widest {
        width: 75%;
    }

    h1 {
        font-size: 26px;
    }

    h2 {
        text-transform: uppercase;
    }

    & > section {
        .main-section();
    }

    .borough {
        font-size: 18px;
    }

    #plan-details {
        font-size: 14px;
        margin-bottom: 25px;
        margin-top: 25px;
    }

    .plan {
        margin-left: -15px;
        margin-right: -15px;

        &-header {
            background: @header-background-color;
            border-bottom: 1px solid #444;
            font-size: 16px;
            margin-bottom: 30px;
            padding-bottom: 5px;
            padding-top: 10px;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: @page-header-index;

            h1 {
                padding-bottom: 5px;
                text-transform: none;
            }

            .panel-toggle {
                border: none;
                cursor: pointer;
                float: left;
                font-size: 50px;
                line-height: 50px;

                &:hover {
                    background-color: white;
                }
            }

            &-content {
                float: left;
                margin-left: 15px;

                &-item {
                    float: left;
                    margin-right: 25px;

                    label {
                        display: block;
                        font-family: @label-font-family;
                        font-size: 10px;
                        font-weight: normal;
                        text-transform: uppercase;
                    }
                    .value {
                        font-size: 14px;
                        font-weight: 400;
                        text-transform: capitalize;
                    }
                }
            }

        }

        &-content {
            margin-top: 70px;

            & > section {
                .main-section();
                border-top: 0;
                margin-top: 15px;

                &#plan-about > * {
                    margin-left: 25px;
                }
            }

            #image-container {
                height: 500px;
                margin-bottom: 50px;

                img {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    max-height: 100%;
                    //width: 400px;
                }
            }
        }

        h2 {
            font-size: 20px;
            margin-bottom: 10px;
            margin-left: 25px;
            text-transform: capitalize;
        }

        &-share-story {
            background-color: black;
            color: white;
            display: inline-block;
            font-size: 18px;
            padding: 10px;

            &:hover {
                color: @highlight-color;
            }
        }
    }

    #lots-content {
        border-top: 3px solid #444;

        ul {
            list-style: none;
            padding: 0;
        }

        .lot {
            border-bottom: 1px solid #444;
            cursor: pointer;
            padding-left: 25px;
            padding-right: 25px;
            padding-top: 15px;
            padding-bottom: 15px;

            &.highlighted,
            &:hover {
                background-color: @highlight-color;
            }

            &-external-links {
                float: right;
            }
        }

        .lot h3 {
            font-size: 22px;
            font-weight: bold;
        }
    }

    #data div {
        margin-left: 25px;
    }

    #filters {
        margin-top: 45px;
    }

    #highlights {
        margin-top: 45px;

        &-header {
            color: #aaa;
            font-size: 22px;
            text-align: center;
            text-transform: capitalize;
        }
    }


    #plan-list-filters-link {
        float: right;
        margin-top: -25px;
        vertical-align: top;

        img {
            height: auto;
            margin-right: 5px;
            width: 14px;
        }

        &:hover {
            color: @highlight-color;
        }
    }

    #filters-plan-list-link {
        float: right;
        margin-top: -25px;
    }

    #plan-list-container,
    #filters-container {
        margin-bottom: 50px;

        h2 {
            font-size: 18px;
            text-align: center;
            text-transform: none;
        }
    }

    #plans {
        .plan-list {
            list-style: none;
            padding: 0;
        }

        .plan-list-header {
            border-bottom: 3px solid @border-color;
            font-family: @label-font-family;
            font-size: 10px;
            font-weight: bold;
            letter-spacing: 2px;
            margin-left: -15px;
            margin-right: -15px;
            margin-top: 20px;
            padding-bottom: 5px;
            padding-left: 15px;
            padding-right: 15px;
            text-transform: uppercase;

            &-name {
                float: left;
            }

            &-adopted {
                float: right;
                text-align: right;
            }
        }

        .plan {
            border-bottom: 1px solid @border-color;
            padding: 15px;

            &:hover {
                background-color: @highlight-color;
                cursor: pointer;
            }

            &-name {
                float: left;
                font-size: 16px;
                font-weight: bold;
                width: 85%;
            }
            &-adopted {
                float: right;
                font-size: 12px;
                width: 15%;
            }
        }
    }

    .intro-text {
        background: @border-color;
        color: difference(#fff, @border-color);
        line-height: 18px;
        margin-left: -15px;
        margin-right: -15px;
        margin-top: 30px;
        padding: 10px;

        h3 {
            font-size: 16px;
        }
    }
}


@import "bootstrap.less";
@import "leaflet.less";
@import "nightmode.less";
