<div id="filters-container">
    <h2>Filter</h2>
    <a href="#" id="filters-plan-list-link" class="nav-button">Plans</a>

    <section id="filters" class="filter-section">
        <h3 class="filter-section-header">plans adopted during mayoral administrations</h3>
        <div>
            <select id="mayors">
                <option data-start="1952" data-end="2014" value="">pick one</option>
                <option data-start="1952" data-end="1953">Vincent R. Impellitteri</option>
                <option data-start="1954" data-end="1965">Robert F. Wagner, Jr.</option>
                <option data-start="1966" data-end="1973">John V. Lindsay</option>
                <option data-start="1974" data-end="1977">Abraham D. Beame</option>
                <option data-start="1978" data-end="1989">Edward I. Koch</option>
                <option data-start="1990" data-end="1993">David N. Dinkins</option>
                <option data-start="1994" data-end="2001">Rudolph W. Giuliani</option>
                <option data-start="2002" data-end="2013">Michael R. Bloomberg</option>
            </select>
        </div>
    </section>

    <section id="highlights">
        <h3 id="highlights-header">highlight lots
            <span class="help-button" data-toggle="tooltip" data-placement="left" title="Lots that fit ALL the selected criteria will be highlighted.">?</span>
        </h3>
        <section id="dispositions" class="filter-section">
            <h4 class="filter-section-header">selected planned uses</h4>
            {{#each dispositions}}
            <div class="input-group">
                <input type="checkbox" id="{{id}}" data-disposition="{{label}}" />
                <label class="checkbox-label" for="{{id}}">{{label}}</label>
            </div>
            {{/each}}
        </section>
        <section class="filter-section">
            <h4 class="filter-section-header">public vacant lots</h4>
            <div class="input-group">
                <input type="checkbox" id="public-vacant" />
                <label class="checkbox-label" for="public-vacant">publicly owned and vacant today</label>
                <span class="help-button" data-toggle="tooltip" data-placement="left" title="Highlight plans that are publicly owned and vacant now according to 596acres.org">?</span>
            </div>
        </section>
    </section>
</div>
