<section id="filters">
    <h2>filters</h2>
    <section>
        <h3>plan status</h3>
        <div>
            <input type="checkbox" id="plan-status-active" />
            <label for="plan-status-active">active</label>
        </div>
        <div>
            <input type="checkbox" id="plan-status-expired" />
            <label for="plan-status-expired">expired</label>
        </div>
    </section>
    <section>
        <h3>NYC mayors</h3>
        <select>
            <option>Test</option>
        </select>
    </section>
    <section>
        <h3>last updated year</h3>
        <select>
            <option>Test</option>
        </select>
    </section>
</section>

<section id="highlights">
    <h2>highlight lots</h2>
    <section>
        <h3>disposition</h3>
        <div>
            <input type="checkbox" id="lot-disposition-open-space" />
            <label for="lot-disposition-open-space">open space</label>
        </div>
        <div>
            <input type="checkbox" id="lot-disposition-residential" />
            <label for="lot-disposition-residential">residential</label>
        </div>
        <div>
            <input type="checkbox" id="lot-disposition-commercial" />
            <label for="lot-disposition-commercial">commercial</label>
        </div>
    </section>
</section>
