<div class="page container-fluid">
    <div class="page-header">
        <button class="panel-toggle">
            &times;
        </button>
        <div class="page-header-content"></div>
    </div>
    <div class="page-content-container row">
        <div class="page-nav">
            <ul class="nav"></ul>
        </div>
        <div id="page-content" class="page-content"></div>
    </div>
</div>
