<div class="page">
    <header class="page-header">
        <button class="panel-toggle">
            &times;
        </button>
        <div class="page-header-content"></div>
    </header>
    <div id="page-content"></div>
</div>
