<button class="panel-toggle">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>
<h1>{{plan_name}}</h1>
<div class="borough">{{borough}}</div>
<div><span class="lot-count"></span> lots</div>
<div id="plan-details"></div>
<section id="lots">
    <h2>lots</h2>
    <div id="lots-content"></div>
</section>
