<header class="plan-header">
    <button class="panel-toggle">
        &times;
    </button>
    <div class="plan-header-content">
        <h1>{{name}}</h1>
        <div class="plan-header-content-item adopted">
            <label>adopted</label>
            <span class="value">{{adopted}}</span>
        </div>
    </div>
    <div style="clear: both;"></div>
</header>
<div id="plan-details"></div>
<section id="lots">
    <h2>lots</h2>
    <div id="lots-content"></div>
</section>
