<ul class="plan-list">
    {{#each plans}}
        <li class="plan" data-name="{{name}}">
            <div class="plan-adopted">{{adopted}}</div>
            <div class="plan-name">{{name}}</div>
            <div style="clear: both;"></div>
        </li>
    {{/each}}
</ul>
