<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="canonical" href="http://www.smartsign.com/urbanreviewer" />

        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
        <link rel="stylesheet" href="css/MyFontsWebfontsKit.css" />
        <link rel="stylesheet" href="css/style.min.css">
    </head>
    <body>
        <header>
            <div id="logo"></div>
        </header>

        <div id="search-container" class="visible-sidebar-closed visible-sidebar-narrow hidden-sidebar-wide hidden-sidebar-widest">
            <img src="img/search.png" />
            <input id="search" type="search" placeholder="Search by plan or address" />
        </div>

        <div id="tagline" class="visible-sidebar-closed visible-sidebar-narrow hidden-sidebar-wide hidden-sidebar-widest">Mapping master plans for New York City</div>

        <div id="nav">
            <ul>
                <li>
                    <a class="sidebar-link" href="about.html">About</a>
                </li>
                <li>
                    <a class="sidebar-link" href="essays.html">Essays</a>
                </li>
                <li>
                    <a class="sidebar-link" href="references.html">References</a>
                </li>
                <li>
                    <a class="sidebar-link" href="contact.html">Contact</a>
                </li>
            </ul>
        </div>

        <div id="map"></div>
        <div id="active-area"></div>

        <div id="right-pane"></div>

        <div id="date-range-picker-container" class="visible-sidebar-closed visible-sidebar-narrow hidden-sidebar-wide hidden-sidebar-widest">
            <div id="date-range-picker"></div>
            <div id="date-range-picker-label">
                Year Adopted
            </div>
        </div>

        <a href="#" id="narrow-sidebar-hide-button" class="hidden-sidebar-closed visible-sidebar-narrow hidden-sidebar-wide hidden-sidebar-widest panel-toggle">&times;</a>
        <button id="map-filters-toggle" class="sidebar-show">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
        <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
        <script src="bower_components/cartodb.js/dist/cartodb.noleaflet.js"></script>
        <script src="https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.standalone.js"></script>

        <script src="bower_components/handlebars/handlebars.runtime.min.js"></script>
        <script src="handlebars_templates/handlebars_templates.js"></script>
        <script src="js/bundle.min.js"></script>

        <!-- Piwik -->
        <script type="text/javascript">
          var _paq = _paq || [];
          _paq.push(['trackPageView']);
          _paq.push(['enableLinkTracking']);
          (function() {
            var u=(("https:" == document.location.protocol) ? "https" : "http") + "://fiveninesix.webfactional.com/analytics/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', 1]);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
            g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
          })();
        </script>
        <noscript><p><img src="http://fiveninesix.webfactional.com/analytics/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
        <!-- End Piwik Code -->

        <script type="text/javascript" src="//use.typekit.net/gvq5mto.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    </body>
</html>
