<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />

        <link rel="stylesheet" href="css/style.min.css">

        <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
        <script src="bower_components/cartodb.js/dist/cartodb.noleaflet.js"></script>
        <script src="bower_components/leaflet-hash/leaflet-hash.js"></script>
        <script src="bower_components/handlebars/handlebars.runtime.min.js"></script>

        <script src="handlebars_templates/handlebars_templates.js"></script>
        <script src="js/bundle.js"></script>

    </head>
    <body>
        <header>
            <div>Urban<br />Reviewer</div>
            <div id="date-picker-button">1940-2010</div>
            <div id="date-picker-dialog">
                <select id="date-picker-start">
                    <option value="1940" selected>1940</option>
                    <option value="1950">1950</option>
                    <option value="1960">1960</option>
                    <option value="1970">1970</option>
                    <option value="1980">1980</option>
                    <option value="1990">1990</option>
                    <option value="2000">2000</option>
                </select>
                <select id="date-picker-end">
                    <option value="1950">1950</option>
                    <option value="1960">1960</option>
                    <option value="1970">1970</option>
                    <option value="1980">1980</option>
                    <option value="2000">2000</option>
                    <option value="2010" selected>2010</option>
                </select>
            </div>
        </header>
        <div id="map"></div>
        <div id="right-pane"></div>
    </body>
</html>
